html,
body,
#app {
    height: 100vh; /*100% da visualização da altura*/
    margin: 0;
}

#app {
    display: flex;
}

.box {
    width: 60px; /*largura*/
    height: 60px; /*altura*/
    background: red; /*cor de fundo*/
    margin: 5px; /* margem/espaçamento*/
}

.red {
    background: red;
}

.green {
    background: green;
}

.blue {
    background: blue;
}
